<nav class="navbar navbar-expand-xxl custom-navbar px-4 py-3">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/images/icon.png" alt="Ícono" width="30" height="30" class="me-2" />
            <span class="glitch-text text-danger">ALMICIDA</span>
        </a>

        <!-- 🎵 Spotify visible solo en desktop -->
        <div class="spotify-wrapper d-none d-lg-flex mx-auto text-center">
            <iframe [src]="listMusic" frameborder="0" allowfullscreen="" loading="lazy"
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
            </iframe>
        </div>



        <!-- Botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú principal -->
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-center">

                @if(estaLogueado()) {
                @if(perfilUsuario()) {
                <div class="d-flex align-items-center me-3 perfil-navBar">
                    <img [src]="'http://localhost:3000' + perfilUsuario()?.imagenPerfil"
                        class="perfil-img-navbar me-2" />
                    <span class="user-name-neon">{{ perfilUsuario()?.userName }}</span>
                </div>
                }

                <a class="nav-link text-light" routerLink="/publicaciones">Publicaciones</a>
                <a class="nav-link text-light" routerLink="/perfil">Mi Perfil</a>

                @if(esAdmin()) {
                <a class="nav-link text-light" routerLink="/dashboard">PanelAdmin</a>
                }

                <li class="nav-item">
                    <a class="nav-link text-light" (click)="cerrarSesion()" title="Cerrar sesión">
                        <i class="fa-solid fa-right-from-bracket cerrar-sesion-icon"></i>
                    </a>
                </li>

                <!-- 🎵 Spotify visible solo en mobile -->
                <li class="nav-item d-lg-none spotify-menu-wrapper">
                    <iframe
                        src="https://open.spotify.com/embed/playlist/7FlQuycOylGER36uH1TcsD?utm_source=generator&theme=0"
                        frameborder="0" allowfullscreen="" loading="lazy"
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                    </iframe>
                </li>

                } @else {
                <a class="nav-link text-light" routerLink="/login">Login</a>
                <a class="nav-link text-light" routerLink="/registro">Registro</a>
                }

            </ul>
        </div>
    </div>
</nav>