<h1 class="text-center title">Panel del admin</h1>

<div class="m-auto">
    <app-usuarios-dropdown (usuarioSeleccionado)="recibirUsuario($event)"></app-usuarios-dropdown>
    <app-tabla-usuarios [usuarioSeleccionado]="this.usuarioSeleccionado()"></app-tabla-usuarios>

    @if(this.crearUsuario()!){
    <button class="drop-button" (click)="decidirCrearUnUsuario()">Crear un usuario admin</button>

    }@else {
    <button class="drop-button" (click)="decidirCrearUnUsuario()">Cerrar formulario</button>
    <app-formulario-registro [usuarioAeditar]="this.usuarioAeditar()"
        [submitFn]="registrarAdmin.bind(this)"></app-formulario-registro>
    }
    <app-publicaciones-inactivas [usuario]="this.usuarioSeleccionado()" />
    <app-graficos></app-graficos>
</div>